/* _variables.scss - adding brand colors */
$primary: #0f172a;
$accent: #4f46e5;
$muted: #6b7280;
$success: #16a34a;
$danger: #ef4444;
$brand-red: #e4033b;

// Brand colors
$brand-blue: #213f7d;
$brand-teal: #39cdcc;
$brand-gray: #545f7d;
